[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
simple-salesforce = "*"
dotenv = "*"
openpyxl = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
jupyter = "*"
pandoc = "*"
openai = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.13"
